@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif !important;
    background: #ebe9e9 !important;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

header .part3 {
    padding-left: 100px;
    margin-right: 30px;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: #93b4f5 !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

.btn-blue {
    background: #4a7de5 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    border-radius: 8px !important;
}

.btn-lg {
    padding: 7px 25px !important;
}

.btn-lg-big {
    padding: 10px 25px !important;
    font-size: 16px !important;
}

.btn-round {
    border-radius: 30px !important;
}

.full {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
}

.link {
    color: #5e5d72;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: #0858f7 !important;
    text-decoration: underline;
}

header .logo {
    text-decoration: none;
}

header .logo img {
    width: 45px;
    border-radius: 50%;
}

header .logo span {
    color: #292929;
    font-weight: 800;
    font-size: 24px;
}

header button.rounded-circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background: #f0f5ff !important;
}

header button.rounded-circle svg {
    color: #292929;
    font-size: 18px !important;
    transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
    color: #0858f7 !important;
}

.searchBox {
    width: 400px;
    height: 40px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}

.searchBox input {
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 0px;
    font-size: 14px;
    color: #292929;
}

.searchBox input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.searchBox svg {
    font-size: 18px;
    color: #292929;
}

#account-menu li {
    font-size: 14px !important;
    padding: 12px 15px !important;
}

#account-menu li svg {
    font-size: 17px !important;
}

.myAccount {
    text-align: left !important;
    padding-left: 0px !important;
    text-transform: capitalize !important;
    width: 190px !important;
    color: #0858f7;
}

.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 1px #0858f7;
    padding: 3px;
    border-radius: 100%;
}

.userImg .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.userImg .rounded-circle img {
    object-fit: contain;
    width: 40px;
    height: 40px;
}

.myAccount .userInfo {
    padding-left: 10px;
}

.myAccount .userInfo h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #292929;
}

.myAccount .userInfo p {
    margin-top: 0px;
    font-size: 12px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 0;
}

/* Notifications Wrapper */
#notifications-menu .MuiPaper-elevation {
    right: 240px !important;
    width: 300px !important;
    left: 950px !important;
    top: 60px !important;
}

.dropdownInfo {
    padding-left: 15px;
}

.dropdownInfo h4 {
    font-size: 13px !important;
    font-weight: 500 !important;
    white-space: break-spaces;
    line-height: 21px;
    margin-bottom: 0px;
}

.dropdownInfo h4 b {
    font-weight: 600;
}

.dropdownInfo p {
    font-size: 12px !important;
    font-weight: 500;
    margin-top: 2px;
}

.text-sky {
    color: #0858f7 !important;
}

.dropdownInfo h4 b:nth-child(2) {
    margin-left: 4px;
}

.dropdown__list .head {
    padding: 10px 0px;
}

.dropdown__list .head h4 {
    font-size: 18px;
    font-weight: 600;
}

.dropdown__list .css-9mgopn-MuiDivider-root {
    border-color: rgba(0, 0, 0, 0.5);
}

.dropdown__list li.MuiButtonBase-root {
    background: #ebf6ff !important;
    color: #000 !important;
    padding: 10px 15px !important;
}

.dropdown__list li.MuiButtonBase-root:hover {
    background: #e7eff6 !important;
}

.dropdown__list .scroll {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main .sidebarWrapper {
    width: 19%;
    flex: 0 0 19%;
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper.toggle {
    width: 0%;
    flex: 0 0 0%;
}

.main .sidebarWrapper .sidebar {
    width: 19%;
    height: 100vh;
    max-height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    left: 0px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper.toggle .sidebar {
    left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar {
    width: 5px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
    background: #a8a4a4 !important;
}

.main .sidebarWrapper .sidebar ul {
    margin-bottom: 0px;
    padding: 10px 15px !important;
}

.main .sidebarWrapper .sidebar ul li {
    list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
    color: #5e5d72;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 15px !important;
}

.main .sidebarWrapper .sidebar ul li button * {
    opacity: 0.9;
}

.main .sidebarWrapper .sidebar ul li button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
    font-size: 20px;
}

.main .sidebarWrapper .sidebar ul li button .arrow {
    color: #575555;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul li button:hover {
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active {
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .icon {
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .arrow {
    transform: rotate(90deg);
}

.main .sidebarWrapper .sidebar ul li button.active .icon svg {
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul .submenu {
    padding: 0px 45px !important;
    position: relative;
    transition: all 0.3s;
    height: 0px;
}

.main .sidebarWrapper .sidebar ul .submenu::before {
    content: "";
    width: 1px;
    height: 95%;
    position: absolute;
    top: 0px;
    left: 25px;
    background: rgba(0, 0, 0, 0.2);
}

.main .sidebarWrapper .sidebar ul .submenu li {
    width: 100%;
    list-style: none;
    margin-left: -4px;
}

.main .sidebarWrapper .sidebar ul .submenu li a {
    display: block;
    padding: 6px 0px;
    color: #5e5d72 !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500 !important;
    transition: all 0.3s;
}

.main .sidebarWrapper .sidebar ul .submenu li a:hover {
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul .subMenuWrapper {
    transition: all 0.4s;
    height: 0px;
    overflow: hidden;
}

.main .sidebarWrapper .sidebar ul .subMenuWrapper.colapsed .submenu {
    opacity: 0;
}

.main .sidebarWrapper .sidebar ul .subMenuWrapper.colapse {
    height: auto;
    overflow: inherit;
}

.main .sidebarWrapper .sidebar ul .subMenuWrapper.colapse .submenu {
    opacity: 1;
    height: auto;
}

.logoutWrapper {
    padding: 0px 10px;
}

.logoutWrapper .logoutBox {
    width: 100%;
    height: 130px;
    padding: 25px;
    background: #bcd2fd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.logoutWrapper .logoutBox::before {
    content: "";
    width: 70px;
    height: 70px;
    background: #0858f7;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0.4;
}

.logoutWrapper .logoutBox::after {
    content: "";
    width: 30px;
    height: 30px;
    background: #0858f7;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 10px;
    opacity: 0.4;
}

.logoutWrapper .logoutBox button {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.logoutWrapper .logoutBox button svg {
    font-size: 18px !important;
    margin-right: 3px;
}

/* Dashboard */
.content {
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.content.toggle {
    width: 100%;
    flex: 0 0 100%;
}

.right__content {
    padding: 90px 30px;
    padding-bottom: 10px;
}

.dashboardBoxWrapperRow .box {
    width: 100%;
    height: 100%;
}

.dashboardBoxWrapper {
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox {
    position: relative;
    width: 48%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left !important;
    color: #fff;
    text-transform: capitalize !important;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
    font-size: 16px;
    font-weight: 600;
}

.dashboardBoxWrapper .dashboardBox .col1 span {
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
}

.dashboardBoxWrapper .dashboardBox .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
    );
}

.dashboardBoxWrapper .dashboardBox .icon svg {
    font-size: 36px;
    opacity: 0.4;
    color: #fff;
}

.dashboardBoxWrapper .dashboardBox .chart {
    opacity: 0.1;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.dashboardBoxWrapper .dashboardBox .chart svg {
    font-size: 110px;
    color: #000;
}

.dashboardBoxWrapper .dashboardBox .bottomElement {
    position: relative;
    top: 15px;
}

.dropdown__menu .MuiButtonBase-root svg {
    margin-right: 5px !important;
    text-align: center;
    font-size: 16px !important;
}

.graphBox {
    background-image: linear-gradient(#5041bc, #5743ed);
    border-radius: 10px;
    padding: 25px;
}

.toggleIcon{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.toggleIcon svg{
    color: #fff !important;
    font-size: 20px !important;
    opacity: 1 !important;
}

.graphBox h4 {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.graphBox p {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

.card {
    margin: 20px 0px;
    border-radius: 10px;
}

.card .hd {
    font-size: 18px;
    font-weight: bold;
    color: #403e57;
}

.chart__container {
    margin-left: -20px;
}

.cardFilters .col-md-3 h4 {
    font-size: 14px;
    font-weight: 800;
    text-transform: capitalize;
    color: #403e57;
}

/* Table */
h1, h2, h3, h4, h5, h6, p {
    color: #403e57;
}

.table {
    --bs-table-bg: transparent !important;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.table .table-dark th{
    background: #1866ee !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    font-size: 14px !important;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #e9e3e3 !important;
}

.table tbody td {
    width: 180px;
    font-size: 14px !important;
    color: #403e57;
    font-weight: 500;
    vertical-align: middle !important;
    text-align: center;
}

.table tbody .actions {
    width: 95px;
}

.table tbody .actions button {
    min-width: 32px !important;
    width: 32px !important;
    height: 32px !important;
    margin: 0px 4px !important;
}

.table tbody .actions .secondary {
    background: rgba(203, 60, 231, 0.2) !important;
}

.table tbody .actions .success {
    background: rgba(26, 159, 83, 0.2) !important;
}

.table tbody .actions .error {
    background: rgba(241, 17, 51, 0.2) !important;
}

.table tbody .actions button svg {
    font-size: 32px !important;
}

.table tbody tr td .old,
.table tbody tr td .new {
    display: block;
    width: 100%;
}

table tbody tr td .imgWrapper {
    width: 40px !important;
}

table tbody tr td .imgWrapper img {
    width: 40px !important;
    height: 40px;
    object-fit: contain;
}

table tbody tr td .info {
    width: 140px;
}

.table tbody tr td .info h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

.table tbody tr td .info p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5e5d72;
    margin-bottom: 0px;
}

.table__footer {
    padding-bottom: 20px;
    align-items: center;
}

.table__footer .pagination {
    margin-left: auto;
}

.css-1gaup4j-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: #0858f7 !important;
}

.table__footer p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* Login */
.loginSection {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 35px 25px;
    background: #fff;
}

.loginPattern {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    pointer-events: none;
}

.loginSection .loginBox {
    width: 400px;
    height: auto;
    margin: auto;
}

.loginSection .loginBox h5 {
    color: #000;
    font-size: 25px;
}

.loginSection .loginBox .wrapper {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    z-index: 100;
    padding: 35px;
}

.loginSection .loginBox .wrapper .form-control {
    background: #fff !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 600;
    height: 45px;
    padding-left: 40px;
    color: #5e5d72;
}

.loginSection .loginBox .wrapper .form-control:focus {
    border: 1px solid #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-group.focus .icon svg {
    color: #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-group .icon {
    position: absolute;
    top: 3px;
    left: 10px;
    z-index: 100;
    font-size: 23px;
}

.loginSection .loginBox .wrapper .form-group .icon svg {
    color: #5e5d72;
}

.toggleShowPassword {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

.toggleShowPassword svg {
    font-size: 20px;
    color: #5e5d72;
}

.loginSection .loginBox .wrapper .form-group .link {
    font-size: 13px !important;
}

.loginSection .loginBox .wrapper .or span.line{
    display: block;
    width: 35%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

.loginSection .loginBox .wrapper .or span.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.loginSection .loginBox .wrapper .loginWithGoogle,
.loginSection .loginBox .wrapper .loginWithFacebook {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
}

.loginSection .loginBox .wrapper .loginWithGoogle .img__Google {
    width: 40px;
    height: 40px;
    margin-right: -10px;
}

.loginSection .loginBox .wrapper .loginWithFacebook .img__Facebook {
    margin-right: -6px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

.loginSection .loginBox .wrapper span.txt__register {
    font-size: 14px;
    font-weight: 500;
}

.loginSection .loginBox .wrapper .register__link {
    color: #5e5d72;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.loginSection .loginBox .wrapper .register__link:hover {
    color: #0858f7;
    text-decoration: underline;
}

/* SignUp Section */
.signUpSection {
    background: #f1f1f1 !important;
    padding: 0px 0px;
}

.signUpSection .loginBox {
    position: relative;
    width: 100%;
    background: #e4e4e4 !important;
    z-index: 100;
}

.signUpSection .loginBox .wrapper {
    border: 0px !important;
    background: transparent !important;
    padding-top: 0px !important;
}